{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "comma-dangle": 0,
    "no-constant-condition": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": 0,
    "yoda": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}